.container-fluid{
     position: absolute;
    /*top: 210vh; */
    background: #20232C;
}

.social-link a{
    text-decoration: none;
}

.social-link a span{
    filter: grayscale(1);
    font-size: 1.5vw;
}

.social-link a span:hover{
    filter: grayscale(0);
}


@media only screen and (max-width:500px){
.container-fluid{
    background: var(--prime);
    }
    
.social-link a span{
    font-size: 3.5vw;
}



}
