<div class="container-fluid mt-5" [ngStyle]="{'top':topPx}">
    <div class="row align-items-center justify-content-evenly pb-5">
        <div class="col-md-4 align-self-between mt-4">
            <img src="../../assets/svg/logo-lg.svg" alt="FootPrint_Logo" class="mx-auto d-block" width="35%">
            <p class="text-white-50 text-center mt-2" style="width: 90%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sint illum repudiandae odio quos at!</p>
            <div class="row justify-centent-center">
                <a href="" class="col-3 text-white fw-bold">Guide</a>
                <a href="" class="col-4 text-white fw-bold">Terms of Use</a>
                <a href="" class="col-4 text-white fw-bold">Privacy Policy</a>
            </div>
        </div>

        <div class="col-md-1 align-self-between mt-1">  
            <img class="mx-auto d-block" src="../../assets/svg/logo.svg" alt="">
        </div>

        <div class="col-md-4 mt-5 social-link">
            <div class="row d-block text-center">
                <a href="https://www.facebook.com/" target="_blank">
                    <span class="k-icon k-i-facebook" style="color: #1877f2;"></span>
                </a>
                <a href="https://www.twitter.com/" target="_blank">
                    <span class="k-icon k-i-twitter" style="color: #1da1f2;"></span>
                </a>
                <a href="https://www.linkedin.com/" target="_blank">
                    <span class="k-icon k-i-linkedin" style="color: #0a66c2;"></span>
                </a>
                <a href="https://myaccount.google.com/" target="_blank">
                    <span class="k-icon k-i-google-plus" style="color: #db4437"></span>
                </a>
                <a href="https://www.rss.com/" target="_blank">
                    <span class="k-icon k-i-rss" style="color: #F27649;"></span>
                </a>
            </div>
        </div>
    </div>
</div>