<div class="social mt-3 pb-2 row align-items-center" #socialbanner [style]="{'height':socialWidth/4 +'px'}">
    
    <div class="col-md-3 twitter text-white">
      <p class="text-center"><i class="bi bi-twitter text-white"></i></p>
      <p class="text-center">Twitter</p>
      <h1 class="text-center">45978</h1>
      <p class="fw-bold text-center">#FootPrint</p>
    </div>

    <div class="col-md-6" >
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="tweet mt-3">
              <p class="text-uppercase text-black-50">Latest Tweet</p>
              <h5 class="text-center m-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, nihil  accusamus esse quasi?</h5>
              <p class="fw-bold ">@James watson</p>
              <p class="fw-light text-black-50">2 months ago</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="tweet mt-3">
              <p class="text-uppercase text-black-50">Latest Tweet</p>
              <h5 class="text-center m-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, nihil  accusamus esse quasi?</h5>
              <p class="fw-bold">@Bill gates</p>
              <p class="fw-light text-black-50">1 months ago</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="tweet mt-3">
              <p class="text-uppercase text-black-50">Latest Tweet</p>
              <h5 class="text-center m-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, nihil  accusamus esse quasi?</h5>
              <p class="fw-bold ">@Lorry Page</p>
              <p class="fw-light text-black-50">3 months ago</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
          <!-- <i class="bi bi-chevron-left text-dark"></i> -->
          <kendo-svg-icon [icon]="icons.left" themeColor="primary"></kendo-svg-icon>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
          <!-- <i class="bi bi-chevron-right text-dark"></i> -->
          <kendo-svg-icon [icon]="icons.right" themeColor="primary"></kendo-svg-icon>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>

    <div class="col-md-3 facebook text-white">
      <p class="text-center"><i class="bi bi-facebook text-white"></i></p>
      <p class="text-center">Facebook</p>
      <h1 class="text-center">63248</h1>
      <p class="fw-bold text-center">#FootPrint</p>
    </div>
  </div>